export REQUESTS_CA_BUNDLE=${PWD}/tmp/cacert.pem
export http_proxy=http://host.docker.internal:8888/
export https_proxy=http://host.docker.internal:8888/

[[ -f ./.envrc.local ]] && source ./.envrc.local
